<H3>
	<a href="http://localhost:3001/" >Users&nbsp;|</a>
	<a href="http://localhost:3001/books" >Books</a>
</h3>
<h3>Add Book</h3>
<form method="post" action="/books/add">
	<input type="text" name="bookId" placeholder="Book ID">
	<input type="text" name="name" placeholder="Name">
	<input type="text" name="category" placeholder="Category">
	<input type="text" name="author" placeholder="Author">
	<input type="text" name="publishDate" placeholder="Publish Date">
	<input type="submit" value="submit">
</form>
<h3>Books</h3>
<table border="4">
	<tr>
		<th>Book ID</th>
		<th>Name</th>
		<th>Category</th>
		<th>Author</th>
		<th>Publish Date</th>
	</tr>
	<% books.forEach(function(books){ %>
	<tr>
		<form method="post" action="/books/update/<%= books.key %>">
			<td><input type="text" name="bookId" value="<%= books.value.bookId %>"></td>
			<td><input type="text" name="name" value="<%= books.value.name %>"></td>
			<td><input type="text" name="category" value="<%= books.value.category %>"></td>
			<td><input type="text" name="author" value="<%= books.value.author %>"></td>
			<td><input type="text" name="publishDate" value="<%= books.value.publishDate %>"></td>
			<td>			
				<input type="hidden" value="<%= books.value.rev %>" name="rev">
				<input type="submit" value="Edit">
			</td>
		</form>
		<form method="post" action="/books/delete/<%= books.key %>">
			<td>			
				<input type="hidden" value="<%= books.value.rev %>" name="rev">
				<input type="submit" value="Delete">
			</td>
		</form>
	</tr>
	<% }); %>
</table>